* {
  margin: 0;
  padding: 0;
}
/* body {
    background: rgb(235, 196, 228);
} */

.signup,
.login {
  width: 50vw;
  margin: 100px auto;
}

.signup input,
.login input {
  width: 100%;
  display: block;
  margin: 20px 0;
  padding: 10px;
}

.signup input[type="submit"],
.login input[type="submit"] {
  width: 104%;
  background: rgb(212, 177, 177);
  border: 1px solid rgb(199, 156, 156);
  box-shadow: 2px 3px rgb(189, 143, 143);
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}

.chatbox-holder {
  background: #f2f9fa;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  height: 0;
}

.chat-messages {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: 1;
}

.message-box-holder {
  width: 100%;
  margin: 0 0 15px;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.chat-input-holder {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.chat-input {
  resize: none;
  padding: 5px 10px;
  height: 40px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #999999;
  flex: 1;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.chat-input:focus,
.message-send:focus {
  outline: none;
}

.message-send::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.message-send {
  -webkit-appearance: none;
  background: #9cc900;
  background: -moz-linear-gradient(180deg, #00d8ff, #00b5d6);
  background: -webkit-linear-gradient(180deg, #00d8ff, #00b5d6);
  background: -o-linear-gradient(180deg, #00d8ff, #00b5d6);
  background: -ms-linear-gradient(180deg, #00d8ff, #00b5d6);
  background: linear-gradient(180deg, #00d8ff, #00b5d6);
  color: white;
  font-size: 12px;
  padding: 0 15px;
  border: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.message-sender {
  font-size: 12px;
  margin: 0 0 15px;
  color: #30649c;
  align-self: flex-start;
}

.message-sender a,
.message-sender a:link,
.message-sender a:visited,
.chat-partner-name a,
.chat-partner-name a:link,
.chat-partner-name a:visited {
  color: #30649c;
  text-decoration: none;
}

.message-box {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, 0.1);
  border: 2px solid rgba(100, 170, 0, 0.1);
  color: #6c6c6c;
  font-size: 12px;
}

.message-box:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, 0.2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.message-partner {
  background: rgba(0, 114, 135, 0.1);
  border: 2px solid rgba(0, 114, 135, 0.1);
  align-self: flex-start;
}

.message-partner:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, 0.2);
  border-left: none;
}
