<div class="chatbox-holder">
    <div class="chat-messages">


       <div class="message-box-holder">
       </div>

       <div  class="chat-input-holder">
         <textarea id="messageContent" class="chat-input"></textarea>
         <input id="submit" type="submit" value="Send" class="message-send" />
       </div>
    </div>
  </div>

       
        </script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="./js/dom.js"></script>
