<div class="chatbox-holder">
    <div class="chat-messages">
        <div class="message-box-holder">
         <div class="message-box">
           What are you people doing?
         </div>
       </div>

       <div class="message-box-holder">
         <div class="message-sender">
           <a href="#">Ben Stiller</a>
          </div>
         <div class="message-box message-partner">

           <ul>
             <li>{{data.id}}</li>
             <li>{{data.username}}</li>
           </ul>
         </div>
       </div>

     <div class="chat-input-holder">
       <textarea class="chat-input"></textarea>
       <input type="submit" value="Send" class="message-send" />
     </div>


  </div>
</div>
